@import "./custom-properties.css";

a.coat-link,
a:visited.coat-link {
  position: relative;
  z-index: 3;
  color: rgb(255, 255, 255) !important;
}

a:hover.coat-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 30px;
  left: 30px;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
