@import "./custom-properties.css";

.item-block {
  margin: 1rem 0;
}

a.coat-link,
a:visited.coat-link {
  z-index: 3;
  color: rgb(255, 255, 255) !important;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}
.card {
  border-radius: 0px !important;
}
.card-img-overlay {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: flex-end;
}

a:hover.coat-link {
  color: rgba(255, 255, 255, 0.5) !important;
}

.coat-item:hover .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.archive-coat:hover .row {
  background-color: rgba(66, 105, 245, 0.5);
}

.coat-item:hover .hover-detail {
  visibility: visible;
}

.badge {
  line-height: 1.5 !important;
}

.hover-detail {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
